<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet"/>
        <title>Signup</title>
    </head>
    <body>
        <form>
            <h2>Create an Account</h2>
            <input type="text" id="username" placeholder="Username">
            <input type="email" id="email" placeholder="Email address">
            <input type="password" id="password" placeholder="Password">
            <button type="button" onclick="signUp()" id="signup">Sign Up</button>
        </form>
    </body>
    <script>
        async function signUp() {
            await fetch(`/signup?username=${document.getElementById("username").value}&email=${document.getElementById("email").value}&password=${document.getElementById("password").value}`,
            {method: 'POST'})
            location.replace("/")
        }
    </script>
</html>